* {
  box-sizing: border-box;
}

.group2090054104 {
  display: flex;
  align-items: center;
  width: 352px;
  height: 504px;

  .frame2090054509 {
    position: relative;
    width: 352px;
    height: 504px;

    .subtract {
      display: flex;
      position: absolute;
      top: 14px;
      left: 9px;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px 19px 22px 27px;
      width: 338px;
      height: 480px;
      background-image: url(../image/mo9um5rn-5meseuu.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px #b0b0b040);

      .image726 {
        width: 286px;
        height: 288px;
      }

      .text {
        display: flex;
        align-items: center;
        margin: 27px 0px 0px 4px;
        width: 277px;
        height: 60px;
        line-height: 20px;
        letter-spacing: 0;
        color: #000000;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .frame2090054524 {
        margin-top: 33px;
        margin-left: 224px;
        width: 68px;
        height: 18px;
      }
    }

    .vector3079 {
      position: absolute;
      top: 100px;
      left: 3px;
      width: 16px;
      height: 16px;
    }

    .vector3082 {
      position: absolute;
      top: 341px;
      left: 1px;
      width: 18px;
      height: 15px;
    }

    .vector3080 {
      position: absolute;
      top: 120px;
      left: 2px;
      width: 17px;
      height: 16px;
    }

    .vector3083 {
      position: absolute;
      top: 361px;
      left: 1px;
      width: 18px;
      height: 16px;
    }

    .vector3081 {
      position: absolute;
      top: 140px;
      left: 2px;
      width: 17px;
      height: 16px;
    }

    .vector3084 {
      position: absolute;
      top: 381px;
      left: 1px;
      width: 18px;
      height: 16px;
    }

    .rectangle34627571 {
      position: absolute;
      top: 393px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 5px;
    }

    .rectangle34627572 {
      position: absolute;
      top: 372px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 6px;
    }

    .rectangle34627573 {
      position: absolute;
      top: 352px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 6px;
    }
  }
}
