* {
  box-sizing: border-box;
}

.frame2090054304 {
  position: relative;
  width: 351px;
  height: 347px;

  .rectangle34627242 {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 335px;
    height: 355px;
  }

  .rectangle34627241 {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 331px;
    height: 354px;
  }

  .rectangle34627217 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 58px 26px 51px 29px;
    width: 351px;
    height: 347px;
    background-image: url(../image/mo9i01k0-5fhfkmd.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text2 {
      line-height: 22px;
      letter-spacing: -0.43px;
      color: #000000;
      font-family: ABeeZee, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .a0822Am {
      line-height: 11px;
      letter-spacing: -0.3px;
      color: #828282;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 7px;
      font-weight: 500;
    }

    .ellipse249 {
      border-radius: 50%;
      background: #61de70;
      width: 7px;
      height: 7px;
    }

    .text {
      margin: 0px 0px 0px 25px;
      line-height: 22px;
      letter-spacing: -0.43px;
      color: #000000;
      font-family: ABeeZee, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .group3 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 7px 245px 0px 2px;
      min-width: 49px;
      height: 11px;
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 9px;
      padding-right: 3px;
      padding-left: 0;

      .apathy {
        width: 15px;
        height: 15px;
      }
    }

    .group4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 6px 245px 0px 2px;
      min-width: 49px;
      height: 11px;
    }

    .text3 {
      margin: 14px 0px 0px 2px;
      line-height: 22px;
      letter-spacing: -0.43px;
      color: #000000;
      font-family: ABeeZee, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .group5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 5px 246px 0px 2px;
      min-width: 48px;
      height: 11px;
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 14px;
      padding-right: 0;
      padding-left: 1px;

      .heartIcon {
        width: 14px;
        height: 13px;
        background-image: url(../image/mo9i01k2-rk3elml.png);
        background-position: 0px 1px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 7px #ff2d3312)
          drop-shadow(0px 29px 52px #fe2f5345);
      }
    }

    .group6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 3px 249px 0px 2px;
      min-width: 45px;
      height: 11px;
    }

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 13px;
      padding-right: 2px;
      padding-left: 1px;

      .heartIcon2 {
        margin-top: 6px;
        width: 14px;
        height: 13px;
        background-image: url(../image/mo9i01k2-rk3elml.png);
        background-position: 0px 1px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 7px #ff2d3312)
          drop-shadow(0px 29px 52px #fe2f5345);
      }
    }

    .group7 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 2px 245px 0px 2px;
      min-width: 49px;
      height: 11px;
    }
  }

  .rectangle34627218 {
    display: flex;
    position: absolute;
    top: 0;
    left: -5px;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 31px 10px 35px;
    width: 361px;
    height: 47px;
    background-image: url(../image/mo9i01k0-unzzulf.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .autoWrapper4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .ellipse15262 {
        border-radius: 50%;
        background: #cfcfcf;
        width: 10px;
        height: 10px;
      }
    }

    .frame2090054301 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;

      .sun {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .rectangle34627239 {
    position: absolute;
    top: -7px;
    left: 31px;
    border-radius: 3px;
    background: #ffffff;
    width: 8px;
    height: 23px;
  }

  .rectangle34627243 {
    position: absolute;
    top: -7px;
    left: 313px;
    border-radius: 3px;
    background: #ffffff;
    width: 8px;
    height: 23px;
  }
}
