* {
  box-sizing: border-box;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222222;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .frame2090053942 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .barsStatusBarIPhoneL {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding: 14px 14px 9px 21px;

      .a941 {
        width: 54px;
        text-align: center;
        letter-spacing: -0.3px;
        color: #ffffff;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
      }

      .cellularConnection {
        margin-top: 4px;
        margin-left: 233px;
        width: 18px;
        height: 11px;
      }

      .wifi {
        margin-top: 3px;
        margin-left: 5px;
        width: 16px;
        height: 11px;
      }

      .battery {
        margin-top: 3px;
        margin-left: 7px;
        width: 24px;
        height: 11px;
      }
    }

    .frame {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 254px;
      padding: 8px 16px;
      width: 393px;
      overflow: hidden;

      .frame2090053857 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid #ffffff66;
        border-radius: 12px;
        padding: 11px;
        width: 40px;
        height: 40px;

        .frame2090053858 {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .frame2090054508 {
    position: relative;
    margin-top: 49px;
    width: 352px;
    height: 504px;

    .subtract {
      display: flex;
      position: absolute;
      top: 14px;
      left: 9px;
      flex-direction: column;
      align-items: flex-start;
      padding: 36px 18px 18px 21px;
      width: 338px;
      height: 480px;
      background-image: url(../image/mo8cljvj-f37c1a1.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 4px 4px #b0b0b040);

      .image724 {
        width: 296px;
        height: 408px;
      }

      .frame2090054524 {
        margin-top: 1px;
        margin-left: 231px;
        width: 68px;
        height: 18px;
      }
    }

    .vector3079 {
      position: absolute;
      top: 100px;
      left: 3px;
      width: 16px;
      height: 16px;
    }

    .vector3082 {
      position: absolute;
      top: 341px;
      left: 1px;
      width: 18px;
      height: 15px;
    }

    .vector3080 {
      position: absolute;
      top: 120px;
      left: 2px;
      width: 17px;
      height: 16px;
    }

    .vector3083 {
      position: absolute;
      top: 361px;
      left: 1px;
      width: 18px;
      height: 16px;
    }

    .vector3081 {
      position: absolute;
      top: 140px;
      left: 2px;
      width: 17px;
      height: 16px;
    }

    .vector3084 {
      position: absolute;
      top: 381px;
      left: 1px;
      width: 18px;
      height: 16px;
    }

    .rectangle34627571 {
      position: absolute;
      top: 393px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 5px;
    }

    .rectangle34627572 {
      position: absolute;
      top: 372px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 6px;
    }

    .rectangle34627573 {
      position: absolute;
      top: 352px;
      left: 9px;
      background: #ffffff;
      width: 4px;
      height: 6px;
    }
  }

  .frame2 {
    margin-top: 27px;
    border-radius: 27px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }

  .text {
    margin: 8px 0px 0px;
    line-height: 18px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 64px -1px 0px;
    padding: 21px 131px 8px 129px;

    .homeIndicator {
      border-radius: 100px;
      background: #ffffff;
      width: 134px;
      height: 5px;
    }
  }
}
