* {
  box-sizing: border-box;
}

.frame6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #ffe29b;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .autoWrapper4 {
    position: relative;
    width: 422px;
    height: 660px;

    .union {
      position: absolute;
      top: 0;
      left: 0;
      width: 422px;
      height: 660px;
    }

    .ellipse15069 {
      position: absolute;
      top: 2px;
      right: -343px;
      width: 838px;
      height: 550px;
      rotate: 171deg;
      filter: blur(90px);
    }

    .frame2090054037 {
      display: flex;
      position: absolute;
      top: 0;
      left: 15px;
      flex-direction: column;
      align-items: center;
      width: 393px;
      height: 100px;

      .barsStatusBarIPhoneL {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding: 14px 14px 9px 21px;

        .a941 {
          width: 54px;
          text-align: center;
          letter-spacing: -0.3px;
          color: #19181f;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 600;
        }

        .cellularConnection {
          margin-top: 4px;
          margin-left: 233px;
          width: 18px;
          height: 11px;
        }

        .wifi {
          margin-top: 3px;
          margin-left: 5px;
          width: 16px;
          height: 11px;
        }

        .battery {
          margin-top: 3px;
          margin-left: 7px;
          width: 24px;
          height: 11px;
        }
      }

      .frame2090054036 {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-end;
        column-gap: 67px;
        padding: 8px 16px;
        width: 393px;

        .frame2090053966 {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }

        .frame2090053858 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          border-radius: 12px;
          background: #ffffff99;
          padding: 5px 12px;
          width: 40px;
          height: 40px;
        }

        .frame20900538582 {
          position: absolute;
          top: 8px;
          left: 16px;
          flex-shrink: 0;
          border-radius: 12px;
          width: 40px;
          height: 40px;
        }

        .frame20900538583 {
          display: inline-flex;
          position: absolute;
          top: 8px;
          left: 151px;
          flex-shrink: 0;
          align-items: center;
          column-gap: 4px;
          z-index: 1;
          border-radius: 20px;
          background: var(--80, #ffffffcc);
          padding: 5px 12px;
          width: 91px;
          height: 40px;

          .a3456 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: #09121f;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .frame2090054096 {
      display: flex;
      position: absolute;
      bottom: -75px;
      left: 28px;
      align-items: flex-start;
      width: 367px;
      height: 584px;
      overflow: hidden;

      .instance3 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        margin: -9px -8px 0px;
        padding-top: 7px;
        padding-bottom: 1px;

        .frame5 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          padding: 52px 39px 224px 38px;
          background-image: url(../image/mo9rl5f5-8b3ruud.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .autoWrapper {
            position: relative;
            margin-left: 37px;
            width: 237px;
            height: 21px;

            .ellipse15119 {
              flex-shrink: 0;
              border-radius: 50%;
              background: #fffdc3;
              width: 21px;
              height: 21px;
              filter: blur(4px);
            }

            .frame2090054146 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              column-gap: 15px;
              width: 237px;
              height: 21px;
            }

            .frame20900541462 {
              display: flex;
              position: absolute;
              top: -1px;
              left: 2px;
              align-items: center;
              column-gap: 14px;
              width: 230px;
              height: 21px;
            }
          }

          .autoWrapper3 {
            position: relative;
            margin-top: 8px;
            width: 306px;
            height: 292px;

            .frame3 {
              position: absolute;
              top: 0;
              left: 0;
              width: 306px;
              height: 292px;

              .text {
                position: absolute;
                top: 66px;
                left: 98px;
                width: 112px;
                height: 19px;
                line-height: 19px;
                letter-spacing: 0;
                color: #fffba2;
                font-family: "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 900;
                text-shadow: -1px 1px 3px #ed8bbe;
              }

              .frame2 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                align-items: flex-start;
                justify-content: space-between;
                padding: 24px 10px 25px;
                width: 306px;
                height: 292px;
                background-image: url(../image/mo9rl5f5-4e80pzv.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                .image434 {
                  opacity: 0.6;
                  margin-top: 90px;
                  width: 59px;
                  height: 140px;
                }

                .autoWrapper2 {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  align-self: stretch;

                  .frame2090054243 {
                    display: inline-flex;
                    align-items: center;
                    align-self: stretch;
                    column-gap: 2px;
                    margin-right: 18px;
                    margin-left: 18px;

                    .frame {
                      flex-shrink: 0;
                      width: 32px;
                      height: 32px;
                      background-image: url(../image/mo9rl5f5-k4gtgcw.png);
                      background-position: 3px 3px;
                      background-size: 79.98% 83.33%;
                      background-repeat: no-repeat;
                      filter: drop-shadow(-1px 1px 4px #ed8bbe);
                    }

                    .a160 {
                      flex-shrink: 0;
                      line-height: 39px;
                      letter-spacing: 0;
                      color: #fffba2;
                      font-family: "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 32px;
                      font-weight: 900;
                      text-shadow: -1px 1px 3px #ed8bbe;
                    }
                  }

                  .text2 {
                    margin: 2px 0px 0px;
                    line-height: 19px;
                    letter-spacing: 0;
                    color: #fffba2;
                    font-family: "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: 900;
                    text-shadow: -1px 1px 3px #ed8bbe;
                  }

                  .instance {
                    position: relative;
                    margin-top: 17px;
                    border: 3px solid #ffffff;
                    border-radius: 16px;
                    width: 128px;
                    height: 166px;
                    overflow: hidden;
                    background-image: linear-gradient(
                      180deg,
                      #ffe667 0%,
                      #ffa260 100%
                    );

                    .union2 {
                      position: absolute;
                      top: -46px;
                      left: -10px;
                      width: 157px;
                      height: 245px;
                      rotate: -180deg;
                    }

                    .frame2090053812 {
                      display: flex;
                      position: absolute;
                      top: 110px;
                      left: 44px;
                      align-items: flex-start;
                      padding: 2px 2px 0px 5px;
                      width: 36px;
                      height: 15px;

                      .logoWhite {
                        width: 26px;
                        height: 13px;
                      }

                      .frame2090053810 {
                        margin-top: 1px;
                        margin-left: 1px;
                        width: 3px;
                        height: 3px;
                      }
                    }

                    .logoWhite2 {
                      position: absolute;
                      top: 42px;
                      left: 28px;
                      width: 67px;
                      height: 67px;
                    }
                  }
                }
              }
            }

            .instance2 {
              display: flex;
              position: absolute;
              bottom: -69px;
              left: 212px;
              align-items: center;
              padding: 5px 6px;
              width: 71px;
              height: 71px;

              .frame4 {
                width: 59px;
                height: 61px;
              }
            }
          }
        }
      }
    }
  }

  .aDistanceToObtaining4 {
    margin: 87px 0px 0px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-size: 14px;

    .aDistanceToObtaining {
      line-height: 20px;
      letter-spacing: 0;
      color: #7652eb99;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .aDistanceToObtaining2 {
      line-height: 20px;
      letter-spacing: 0;
      color: #000000;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .aDistanceToObtaining3 {
      line-height: 20px;
      letter-spacing: 0;
      color: #7652eb;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 51px -1px 0px;
    padding: 21px 131px 8px 129px;

    .homeIndicator {
      border-radius: 100px;
      background: #000000;
      width: 134px;
      height: 5px;
    }
  }

  .frame2090054009 {
    display: flex;
    position: absolute;
    top: 104px;
    left: 337px;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-radius: 12px;
    background: #ffffff99;
    padding: 5px 12px;
    width: 40px;
    height: 40px;

    .yinle1 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }
}
