* {
  box-sizing: border-box;
}

.frame2090054304 {
  position: relative;
  width: 351px;
  height: 347px;

  .rectangle34627242 {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 335px;
    height: 355px;
  }

  .rectangle34627241 {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 331px;
    height: 354px;
  }

  .rectangle34627217 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    padding: 89px 31px 61px 32px;
    width: 351px;
    height: 347px;
    background-image: url(../image/mo891sz0-n2m8f0f.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .frame2090054103 {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;

      .a14 {
        margin: 23px 0px 0px;
        line-height: 21px;
        letter-spacing: 0;
        color: #22222299;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .a7 {
        line-height: 21px;
        letter-spacing: 0;
        color: #22222299;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .autoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 44px;
      }

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 44px;
        margin-left: 27px;
      }

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 27px;
      }

      .autoWrapper4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 22px;

        .ellipse15259 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin-top: 19px;
          border-radius: 50%;
          background: #ffbc2b;
          padding: 4px 5px 3px;

          .text {
            width: 18px;
            text-align: center;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 500;
          }
        }

        .a17 {
          margin: 20px 0px 0px;
          line-height: 21px;
          letter-spacing: 0;
          color: #22222299;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }
      }

      .autoWrapper5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-left: 22px;
      }
    }
  }

  .rectangle34627218 {
    display: flex;
    position: absolute;
    top: 0;
    left: -5px;
    flex-direction: column;
    align-items: center;
    padding: 9px 33px 20px 34px;
    width: 361px;
    height: 66px;
    background-image: url(../image/mo891sz0-x0x233g.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .autoWrapper6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .ellipse15262 {
        border-radius: 50%;
        background: #cfcfcf;
        width: 10px;
        height: 10px;
      }
    }

    .frame2090054301 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;
      margin-top: 9px;

      .sun {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .rectangle34627239 {
    position: absolute;
    top: -7px;
    left: 31px;
    border-radius: 3px;
    background: #ffffff;
    width: 8px;
    height: 23px;
  }

  .rectangle34627243 {
    position: absolute;
    top: -7px;
    left: 313px;
    border-radius: 3px;
    background: #ffffff;
    width: 8px;
    height: 23px;
  }
}
