* {
  box-sizing: border-box;
}

.toDo {
  width: 85px;
  height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #000000;
  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
